body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:700px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:700px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1360px;
  top:0px;
  width:6px;
  height:700px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:700px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:170px;
  top:0px;
  width:1000px;
  height:700px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:700px;
}
#u4 {
  position:absolute;
  left:2px;
  top:342px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:80px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:80px;
}
#u6 {
  position:absolute;
  left:2px;
  top:32px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:170px;
  top:9px;
  width:155px;
  height:57px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:57px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:151px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:903px;
  top:29px;
  width:257px;
  height:33px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:170px;
  top:610px;
  width:1000px;
  height:90px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:90px;
}
#u12 {
  position:absolute;
  left:2px;
  top:37px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:170px;
  top:638px;
  width:554px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:170px;
  top:664px;
  width:788px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:190px;
  top:110px;
  width:194px;
  height:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:28px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:170px;
  top:160px;
  width:996px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:979px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:996px;
  height:1px;
}
#u20 {
  position:absolute;
  left:180px;
  top:180px;
  width:980px;
  height:340px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:340px;
}
#u21 {
  position:absolute;
  left:2px;
  top:162px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:213px;
  top:206px;
  width:87px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:290px;
  top:200px;
  width:300px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:300px;
  top:207px;
  width:66px;
  height:13px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:200px;
  top:206px;
  width:9px;
  height:16px;
  font-size:20px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:213px;
  top:243px;
  width:87px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:290px;
  top:237px;
  width:300px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:300px;
  top:244px;
  width:78px;
  height:15px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:200px;
  top:243px;
  width:9px;
  height:16px;
  font-size:20px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:960px;
  top:180px;
  width:200px;
  height:340px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:340px;
}
#u39 {
  position:absolute;
  left:2px;
  top:162px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:984px;
  top:200px;
  width:145px;
  height:25px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:984px;
  top:238px;
  width:156px;
  height:42px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:42px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:213px;
  top:283px;
  width:87px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:440px;
  top:277px;
  width:150px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:200px;
  top:283px;
  width:9px;
  height:16px;
  font-size:20px;
  color:#FF0000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:290px;
  top:277px;
  width:140px;
  height:30px;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:213px;
  top:323px;
  width:87px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:290px;
  top:317px;
  width:300px;
  height:30px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:200px;
  top:323px;
  width:9px;
  height:16px;
  font-size:20px;
  color:#FF0000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:213px;
  top:363px;
  width:87px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:290px;
  top:357px;
  width:300px;
  height:30px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:200px;
  top:363px;
  width:9px;
  height:16px;
  font-size:20px;
  color:#FF0000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:290px;
  top:420px;
  width:200px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:290px;
  top:470px;
  width:123px;
  height:15px;
  color:#0000FF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:600px;
  top:207px;
  width:16px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u69 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:600px;
  top:244px;
  width:16px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u71 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:300px;
  top:324px;
  width:208px;
  height:15px;
  color:#999999;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:450px;
  top:284px;
  width:43px;
  height:15px;
  color:#000000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:600px;
  top:284px;
  width:16px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u77 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:984px;
  top:301px;
  width:24px;
  height:18px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u79 {
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1018px;
  top:301px;
  width:81px;
  height:16px;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
