@charset "utf-8";
/**
 * style order
 * 
 * @project		
 * @copyright	
 * @author		zhanghaibin
 * @version 		1.0
 * 
 * @colordef 	#666 				article text
 * @colordef	 	#   					link & visible
 * @colordef	 	#e65143				hover & active
 */
 /**
 * CSS Menu
 *active
 */
#container{
 	background: #FEE8EB;
}
#container .wrap {
 	background: #FFF0F3;
 	padding-bottom: 10px;
}
.active>.hd{
 	padding: 18px 25px 12px 30px;
 	background: #fff;
 	border-bottom: 2px solid #FE5481;
}
.active>.hd h2{
	margin:2px 5px 0 0;
	float: left;
	font-size: 14px;
	color: #666;
}
.active .hd-top{
	margin-bottom: 10px;
}
.active .hd-top,
.active .hd-bot{
	*zoom: 1;
}
.active .hd-top:after,
.active .hd-bot:after{
	display: table;
	clear: both;
	content: " ";
}
.active .act-strip{
	float: left;
	padding: 2px 3px;
	background: #FFFEDF;
	border: 1px solid #F4F1CE;
}
.active .act-strip span{
	float: left;
	height: 15px;
	padding: 0 5px;
	line-height: 17px;
	background: #7CCA02;
	color: #fff;
	border: 1px solid #79AF1D;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.active .act-strip p{
	float: left;
	margin: 3px 0px 0 3px;
	color: #666;
}
.active .hd-bot>span,
.active .hd-bot li{
	float: left;
	height: 20px;
	padding: 0 10px;
	margin-right: 10px;
	border: 1px solid #dcdcdc;
}
.active .hd-bot>span{
	line-height: 20px;

}
.active .hd-bot li{
	line-height: 22px;
	cursor: pointer;
}
.active .hd-bot li:hover{
	color: #fff;
	background: #FF5481;
	border: 1px solid #FF5584;
}
.active .hd-bot li .icon{
	vertical-align: top;
	margin-top: 6px;
	*margin-top: 0;
	margin-left: 3px;
}
.active .hd-bot li:hover .i-decline{
	background-position: -60px -27px;
}
.active .hd-bot li:hover .i-goup{
	background-position: -91px -27px;
}
.active .hd-bot p{
	float: right;
	line-height: 22px;
}
.active .hd-bot p .icon{
	vertical-align: top;
	margin: 2px 5px 0 0;
}
.active .bd{
	padding-top: 10px;
}
.active .mod-all{
	*zoom: 1;
}
.active .lodingmore{
	*zoom: 1;
	padding: 55px 0;
	text-align: center;
}
.active .lodingmore:after,
.active .mod-all:after{
	display: table;
	clear: both;
	content: " ";
}
.active .lodingmore img{
	margin-right: 15px;
}