/**
 * style arrow
 *
 * @project
 * @copyright
 * @author      zhanghaibin
 * @version 	1.0
 *
 */

/**
 * CSS Menu
 *
 * Arrow
 * - theme
 * - color
 * - size
 */

/* Arrow
 ---------------------------------------- */

.arrow {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	display: inline-block;
	padding: 0 !important;
	background-image: none;
	font-size: 0 !important;
	line-height: 0 !important;
	vertical-align: middle;
}
.arrow>* {
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
}
.arrow[class*="top-"],
.arrow[class*="top-"]>* {
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-left-color: transparent !important;
	border-top-width: 0 !important;
}
.arrow[class*="right-"],
.arrow[class*="right-"]>* {
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	border-right-width: 0 !important;
}
.arrow[class*="bottom-"],
.arrow[class*="bottom-"]>* {
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	border-bottom-width: 0 !important;
}
.arrow[class*="left-"],
.arrow[class*="left-"]>* {
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	border-left-width: 0 !important;
}

/* arrow theme */
.arrow[class*="-solid"],
.arrow[class*="-hollow"]>* {
	width: 0 !important;
	height: 0 !important;
	border: 7px solid #333;
}
.arrow[class*="-hollow"]>* {
	display: block;
}
.arrow[class*="-hollow"]>i {
	position: absolute;
	border-width: 6px;
	border-color: #fff;
}
.top-hollow>i,
.left-hollow>i {
	top: 1px;
	left: 1px;
}
.right-hollow>i,
.bottom-hollow>i {
	right: 1px;
	bottom: 1px;
}

/* arrow color */
.arrow.white,
.arrow.white>b {
	border-color: #fff;
}
.arrow.muted,
.arrow.muted>b {
	border-color: #7b7a7a;
}
.arrow.danger,
.arrow.danger>b {
	border-color: #f86363;
}

/* arrow size */
.arrow.xs,
.arrow.xs>b {
	border-width: 4px;
}
.arrow.xs>i {
	border-width: 3px;
}
.arrow.sm,
.arrow.sm>b {
	border-width: 6px;
}
.arrow.sm>i {
	border-width: 5px;
}
.arrow.lg,
.arrow.lg>b {
	border-width: 9px;
}
.arrow.lg>i {
	border-width: 8px;
}
.arrow.xl,
.arrow.xl>b {
	border-width: 15px;
}
.arrow.xl>i {
	border-width: 14px;
}