/**
 * style control
 *
 * @project
 * @copyright
 * @author      zhanghaibin
 * @version 	1.0
 *
 */

/**
 * CSS Menu
 *
 * Control
 * - status
 * - note
 * - checkbox
 * - radio
 * - button
 * - text
 * - tel text
 * - select
 * - area select
 * - textarea
 */

.popup .close {
	background-image: url(../img/control/control_elem.png);
	background-repeat: no-repeat;
}

/* Control
 ---------------------------------------- */

input,
button,
select,
label,
a.btn,
span.btn {
	vertical-align: middle;
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	line-height: normal;
	cursor: pointer;
}

/* control status */
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:active,
.btn.disabled:focus,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:active,
.btn[disabled]:focus {
	background: #e5e5e5 url(../img/control/btn-disabled.jpg) repeat-x 0 center !important;
	border: 1px solid #e7e7e7 !important;
	color: #999 !important;
	cursor: default !important;
}
.txt[disabled],
.txt[disabled]:hover {
	background: #e5e5e5 !important;
	color: #999 !important;
	border: 1px solid #ccc !important;
}
.txt:hover,
textarea:hover,
select:hover {
	border-color: #a5a5a5;
}
.txt:focus,
textarea:focus,
select:focus {
	border-color: #7a39b2 !important;
}
.focus {
	/* IE7 patch */
	border-color: #7a39b2 !important;
}
.placeholder {
	color: #999 !important;
}
.errIpt,
.errIpt:focus,
.errIpt:hover {
	border: 1px solid #f00 !important;
}
.errTxt {
	color: #f00 !important;
}
.successColor {
	color: #339734!important;
}
/* note */
.note {
	color: #999;
	vertical-align: middle;
}
span.note {
	padding-left: 5px;
}
div.note {
	clear: both !important;
	padding: 5px 0 0;
	line-height: 1.8;
}
.note strong {
	color: #f00;
	padding: 0 5px;
}
.note b {
	padding: 0 5px;
	color: #333;
}

/* checkbox & radio */
.chk,
.radio {
	width: 13px;
	height: 13px;
	margin-right: 5px;
}
label .radio,
label .chk {
	position: relative;
	top: -1px;
	*top: 0;
	left: 1px;
}

/* button */
.btn,
a.btn,
span.btn {
	color: #333;
}
.btn {
	height: 26px;
	padding: 0 14px;
	*padding: 0 7px;
	border: 1px solid transparent;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
	white-space: nowrap;
}
a.btn,
span.btn {
	display: inline-block;
	height: 24px;
	padding: 0 14px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
a.btn:hover,
span.btn:hover {
	text-decoration: none;
}

/* button theme */
.btn-def {
	background: url(../img/control/btnbg.jpg) repeat-x 0 10%;
	border-color: #c9c9c9;
}
.btn-def:hover {
	background-position: 0 30%;
}
.btn-def:active {
	background-position: 0 70%;
}
.btn-primary,
a.btn-primary,
span.btn-primary {
	background: #5d1b9a;
	border-color: #5d1b9a;
	color: #fff;
}
.btn-primary:hover {
	background: #8349b8;
	border-color: #8349b8;
}
.btn-primary:active {
	background: #8349b8;
	border-color: #8349b8;
}
.btn-assist,
a.btn-assist,
span.btn-assist {
	background: #f05a96;
	border-color: #f05a96;
	color: #fff;
}
.btn-assist:hover {
	background: #fc79ad;
	border-color: #fc79ad;
}
.btn-assist:active {
	background: #fc79ad;
	border-color: #fc79ad;
}
.btn-bezelFree,
a.btn-bezelFree,
span.btn-bezelFree,
.btn-bezelFree:hover,
.btn-bezelFree:focus,
.btn-bezelFree:active {
	background: transparent;
	color: #316cd6;
}
.btn-bezelFree.disabled,
.btn-bezelFree.disabled:hover,
.btn-bezelFree.disabled:focus,
.btn-bezelFree.disabled:active,
.btn-bezelFree[disabled],
.btn-bezelFree[disabled]:hover,
.btn-bezelFree[disabled]:active,
.btn-bezelFree[disabled]:focus {
	background: transparent !important;
	border: none !important;
	color: #999 !important;
	cursor: default !important;
}

/* button height */
.btn.sm {
	/* small */
	height: 22px;
	padding: 0 15px;
	*padding: 0 1px;
}
a.btn.sm,
span.btn.sm {
	height: 20px;
	padding: 0 15px;
	line-height: 20px;
}
.btn.lg {
	/* large */
	height: 30px;
	padding: 0 20px;
	*padding: 0 10px;
	font-size: 16px;
}
a.btn.lg,
span.btn.lg {
	height: 28px;
	padding: 0 20px;
	line-height: 28px;
}
.btn.lgl {
	/* large */
	height: 42px;
	padding: 0 20px;
	*padding: 0 10px;
	font-size: 14px;
}
a.btn.lgl,
span.btn.lgl {
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
}
.btn.xl {
	/* extra large */
	height: 46px;
	padding: 0 30px;
	*padding: 0 15px;
	font-size: 16px;
}
a.btn.xl,
span.btn.xl {
	height: 44px;
	padding: 0 30px;
	line-height: 44px;
}

/* button padding */

.btn.p-sm {
	/* large */
	padding: 0 5px;
	*padding: 0;
}
a.btn.p-sm,
span.btn.p-sm {
	padding: 0 5px;
}
.btn.p-lg {
	/* large */
	padding: 0 26px;
	*padding: 0 8px;
}
a.btn.p-lg,
span.btn.p-lg {
	padding: 0 26px;
}
.btn.p-lgl {
	/* large */
	padding: 0 56px;
	*padding: 0 20px;
}
a.btn.p-lgl,
span.btn.p-lgl {
	padding: 0 56px;
}
.btn.p-xl {
	/* large */
	padding: 0 80px;
	*padding: 0 40px;
}
a.btn.p-xl,
span.btn.p-xl {
	padding: 0 80px;
}

/* text */
.txt {
	width: 106px;
	height: 16px;
	padding: 4px 4px;
	border: 1px solid #c9c9c9;
	font-size: 12px;
	line-height: 16px;
}
.txt-radius {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* text height */
.txt.xs {
	/* extra small */
	padding: 2px 4px;
}
.txt.sm {
	/* small */
}
.txt.lg {
	/* long */
	padding: 7px 4px;
}
.txt.xl {
	/* extra large */
	padding: 9px 4px;
}

/* text width */
.txt.w-xs {
	/* extra small */
	width: 54px;
}
.txt.w-sm {
	/* small */
	width: 60px;
}
.txt.w-lg {
	/* long */
	width: 160px;
}
.txt.w-lgl {
	/* long */
	width: 230px;
}
.txt.w-xl {
	/* extra large */
	width: 290px;
}

/* date text */
.txt-date {
	width: 98px;
	padding-right: 26px;
	background: url(../img/control/control_date.png) no-repeat right center;
}
.txt-date.w-sm {
	width: 70px;
}

/* tel text */
.txt-tel {
	display: inline-block;
	*display: inline;
}
.txt-tel .telArea {
	width: 68px;
	margin: 0 4px 0 0 !important;
}
.txt-tel .telNum {
	width: 98px;
	margin: 0 4px !important;
}
.txt-tel .telExt {
	width: 68px;
	margin: 0 0 0 4px !important;
}
.txt-tel i {
	color: #c5c5c5;
	display: inline-block;
	font-family: simsun, \5b8b\4f53, arial;
	line-height: 26px;
}

/* txt section */
.txt-section {
	display: inline-block;
	*display: inline;	
	margin: 0 -6px;
}
.txt-section .txt {
	margin: 0 6px !important;

}
.txt-section i {
	color: #666;
	display: inline-block;
	font-family: simsun, \5b8b\4f53, arial;
	line-height: 26px;
}

/* txt section size */
.txt-section.xs .txt {
	padding: 2px 4px;
}
.txt-section.xs i {
	line-height: 22px;
}

/* searchGroup */
.searchGroup {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	display: inline-block;
	*display: inline;
}
.searchGroup .txt {
	padding-right: 26px;
}
.searchGroup .icon {
	position: absolute;
	top: 50%;
	right: 5px;
	z-index: 2;
	margin-top: -10px;
	cursor: pointer;
}
.searchGroup .txt.w-lg {
	/* long */
	width: 138px;
}
.searchGroup .txt.w-lgl {
	/* long */
	width: 208px;
}
.searchGroup .txt.w-xl {
	/* long */
	width: 388px;
}

/* select */
select,
.select {
	width: 116px;
	height: 22px;
	background: #fff;
	border: 1px solid #c5c5c5;
	outline: 0;
}

/* select height */
.select.xs {
	height: 22px;
}
.select.sm {
	height: 24px;
	padding: 1px;
}
.select {
	height: 26px;
	padding: 2px;
	*margin-top: 3px;
}
.select.lg {
	height: 28px;
	padding: 3px;
	*margin-top: 4px;
}
.select.xl {
	height: 30px;
	padding: 4px;
	*margin-top: 5px;
}

/* select width */
.select.w-xs {
	width: 60px;
}
.select.w-sm {
	width: 100px;
}
.select.w-lg {
	width: 140px;
}
.select.w-xl {
	width: 180px;
}

/* area select */
.selectArea {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 300px;
	vertical-align: middle;
}
.selectArea .inputArea {
	height: 30px;
	padding: 0 4px;
	border: 1px solid #c9c9c9;
	line-height: 30px;
	cursor: pointer;
	white-space: nowrap;
}
.selectArea .inputArea>em {
	margin: 0 4px;
	color: #999;
}
.selectArea .inputArea .arrow {
	float: right;
	margin: 12px 0 0;
}
.selectArea .inputArea .arrow b {
	border-width: 8px;
	border-color: #ccc;
}
.selectArea .inputArea .arrow i {
	border-width: 6px;
	bottom: 2px;
	left: 2px;
}
.selectArea .inputArea:hover .arrow b {
	border-color:#aaa;
}
.selectArea-list {
	position: absolute;
	top: 31px;
	left: 0;
	z-index: 20;
	display: none;
	width: 300px;
}
.selectArea.open .selectArea-list {
	display: block;
}
.selectArea-list .tab {
	background: #fff;
	border: 1px solid #c9c9c9;
}
.selectArea-list .tabs {
	overflow:hidden;
}
.selectArea-list .tabs ul {
	height: 35px;
	margin-left: -2px;
	border-bottom: 1px solid #c9c9c9;
}
.selectArea-list .tabs li {
	width: 74px;
	height: 35px;
	background: #f0f0f0;
	border-left: 1px solid #c9c9c9;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}
.selectArea-list .tabs li.curr,
.selectArea-list .tabs li.curr:hover {
	background: #fff;
	height: 35px;
	border-bottom: 1px solid #fff;
	color: #ff0087;
}
.selectArea-list .tabs li:hover {
	background: #f9f9f9;
}
.selectArea-list .tabGroup {
	padding: 10px;
}
.selectArea-list .tabGroup.city dt{
	display: none;
}
.selectArea-list .tabGroup.city dd{
	margin-left: 0;
}
.selectArea-list .areaList {
	line-height: 24px;
}
.selectArea-list .areaList>dt {
	float: left;
	width: 40px;
	text-align: center;
}

.selectArea-list .areaList>dd {
	margin-left: 40px;
}
.selectArea-list .areaList>dd span {
	display: inline-block;
	margin: 0 10px;
}
.selectArea-list .areaList>dd a {
	color: #4d4d4d;
}


/* textarea */
textarea {
	overflow-y: auto;
	padding: 5px;
	background: #fff;
	border: 1px solid #c5c5c5;
	outline: 0;
	vertical-align: top;
}
.resize-none {
	resize: none;
}
.resize-h {
	resize: horizontal;
}
.resize-v {
	resize: vertical;
}