/**
 * style module
 * 
 * @project		
 * @copyright	
 * @author		zhanghaibin
 * @version 		1.0
 * 
 * @colordef 	#666 				article text
 * @colordef	 	#   					link & visible
 * @colordef	 	#e65143				hover & active
 */

/**
 * CSS Menu
 * 
 * goodsBuy
 * g-preview
 * g-buy
 * prices
 * Details
 * goodsDetails
 * goodsRecommend 
 * Store hotSales
 */
/**/

/* goodsBuy
 ---------------------------------------- */

.goodsBuy{
	*zoom: 1;
	width: 1000px;
	margin-bottom: 10px;
	background: #fff;
}
.goodsBuy .article {
	*zoom: 1;
	margin: 16px;
}
.goodsBuy,
.goodsBuy .article:after {
	display: table;
	clear: both;
	content: " ";
}
.goodsBuy .aside {
	float: right;
	width: 200px;
}

/* g-preview */
.g-preview {
	float: left;
	width: 420px;
}
.g-preview .g-img {
	position: relative;
	width: 418px;
	height: 418px;
	margin: 0 0 12px;
	border: 1px solid #d2d2d2;
}
.g-preview .g-img img {
	width: 418px;
	height: 418px;
	vertical-align: top;
}
.g-preview .g-img:hover .ico {
	display: none;
}
.g-preview .g-img .ico {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 26px;
	height: 26px;
	background: #fff;
}
.g-preview .g-img .ico i {
	display: block;
	width: 16px;
	height: 16px;
	margin: 5px;
	background-position: 0 -10px;
}
.g-preview .images {
	margin: 0 0 14px;
}
.g-preview .images .items {
	left: 31px;
	overflow: hidden;
	width: 370px;
	margin: 0 -6px;
}
.g-preview .images .img {
	width:58px;
	height: 58px;
	margin: 1px 7px;
	border: 1px solid #d2d2d2;
}
.g-preview .images .img img {
	vertical-align: top;
	width:58px;
	height: 58px;
}
.g-preview .images .img:hover,
.g-preview .images .img.on {
	margin: 0 6px;
	border: 2px solid #d70000;
}

/* g-buy */
.g-buy {
	float: right;
	width: 520px;
}
.g-buy .mainTitle {
	width: 485px;
	margin: 0 0 5px;
	padding: 0 10px;
	color: #333;
	font: 18px/1.4 'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1','Hiragino Sans GB';
	word-break: break-all;
	font-weight: bold;
}
.g-buy .subTitle {
	margin: 0 0 5px;
	padding: 0 10px;
	color: #EF5996;
	font: 14px/1.4 'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1','Hiragino Sans GB';	
	font-weight: bold;
}
.g-buy>.g-items {
	padding: 10px 0;
	border-bottom: 1px dotted #b0b0b0;
}
.g-buy>.g-items.last {
	border: 0;
}
.g-buy .g-item {
	padding: 5px 10px;
	*zoom: 1;
	line-height: 26px;
}
.g-buy .g-item:after {
	display: table;
	clear: both;
	content: " ";
}
.g-buy .g-item>dt {
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	width: 62px;
	white-space: nowrap;
}
.g-buy .g-item>dd {
	float: right;
	width: 428px;
	margin-left: 10px;
	color: #333;
}
.g-buy .g-item>li {
	float: left;
	width: 262px;
}
.g-buy .g-item>li.first {
	border-right: 1px dotted #b0b0b0;
}

/* prices */
.g-buy .prices {
	margin: 0 0 5px;
	padding: 5px 0;
	background: #fff4f3;
}
.g-buy .prices .barginPrice dt,
.g-buy .prices .ywPrice dt {
	line-height: 42px;
}
.g-buy .prices .barginPrice dd,
.g-buy .prices .ywPrice dd {
	color: #d70000;
}
.g-buy .barginPrice dd>span,
.g-buy .ywPrice dd>span {
	font: 700 22px/38px 'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1','Hiragino Sans GB';	
	color: #F25896;
}
.g-buy .barginPrice dd em,
.g-buy .ywPrice dd em {
	margin: 0 0 0 3px;
	font-size: 34px;
	line-height: 38px;
}
.g-buy .barginPrice .g-tag {
	margin-top: -16px;
	vertical-align: middle;
}
.g-buy  del{
	color: #666;
}
/* state */
.g-buy .prices .barginPrice {
	display: none;
}
.g-buy .active .event {
	display: block;
}
.g-buy .active .barginPrice {
	display: block;
}
.g-buy .active .ywPrice span,
.g-buy .active .ywPrice em {
	color: #333;
	font-size: 12px;
	font-weight: 300;
	text-decoration: line-through;
}

/* mod-area */
.g-buy .mod-area {
	float: left;
	margin: 3px 20px 0 0;
	line-height: 22px;
}
.g-buy .g-freight {
	float: left;
}
.g-buy .g-freight>span {
	color: #666;
	margin-right: 15px;
}

/* grade */
.g-buy .g-grade {
	float: left;
	margin-right: 15px;
	line-height: 24px;
}
.g-buy .g-grade>span {
	color: #fdaa01;
	font-size: 14px;
}
.g-buy .g-grade .mod-grade {
	margin-right: 5px;
	vertical-align: baseline;
	*vertical-align: middle;
}
.g-buy .g-appr {
	float: left;
}
.g-buy .g-appr span {
	color: #666;
}
.g-buy .g-appr b {
	margin: 0 4px;
	color: #d70000;
	font-size: 14px;
}

/* goodsNo and hotline */
.g-buy .goodsNo,
.g-buy .hotline {
	margin-left: 40px;
}
/* goods attribute */
.g-buy .g-attr {
	border: 0;
}
.g-buy .g-attr .g-item {
	padding: 3px 10px;
}
.g-buy .g-attr .attrElem,
.g-buy .g-attr .mod-modified {
	vertical-align: top;
	*vertical-align: middle;
}
.g-buy .g-attr dd {
	color: #666;
}
.g-buy .g-attr dd>span {
	margin-left: 10px;
}

/* buy button */
.g-buy .btnWrap {
	padding: 5px 0 5px 82px;
}
.g-buy .btnWrap .btn {
	float: left;
	width: 158px;
	height: 44px;
	line-height: 46px;
	font-size: 18px;
	margin-right: 10px;
}
/* Details
------------------------------------------*/
.goodRec{
	width: 1000px;
	margin-bottom: 60px;
}
.goodRec .rec-hd{
	height: 38px;
	padding: 0;
	background: #F5F5F5;
	border: 1px solid #dcdcdc;
	border-right: none;
}
.goodRec .rec-hd.fixed{
	position: fixed;
	top: 0;
	z-index: 700;
	width: 1000px;
	margin-left: -1px;
	background: #fff;
	border: 1px solid #e9e9e9;
}
.goodRec .rec-hd ul{
	float: left;
	line-height: 38px;
	margin-left: -1px;
}
.goodRec .rec-hd li{
	float: left;
	padding: 0 25px;
	font-size: 16px;
	cursor: pointer;
}
.goodRec .rec-hd li.on{
	color: #F63B58;
}
.goodRec .rec-hd .det.on{	
	font-weight: bold;
	background: #fff;
	border: 1px solid #fff;
	border-right: 1px solid #dcdcdc;
	margin-top: -1px;
}
.goodRec .rec-hd .rec.on{
	font-weight: bold;
	background: #fff;
	border: 1px solid #fff;
	border-width:0 0 1px 1px; 
}
.goodRec .rec-hd li em{
	color: #0061A8;
	margin: 0 2px;
}
.goodRec .btn-hd{
	float: right;
}
.goodRec .btn-hd a{
	width: 126px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
}
/*goodsDetails*/
.goodsDetails{
	margin-bottom: 15px;
	background: #fff;
}
.goodsDetails .details-main{
	overflow: hidden;
	margin:0 auto;
	color: #333;
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
}
.goodsDetails .details-main .bd{
	padding: 20px;
}
.goodsDetails .details-main img{
	vertical-align: top;
	max-width: 100%;
}
.goodsDetails h2{
	width: 500px;
	margin: 20px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 14px;
	border-bottom: 1px dotted #dcdcdc;
}
.goodsDetails h2 span{
	margin-left: 2px;
	color: #FE367E;
	font-size: 18px;
	font-weight: normal;
}
.details-size .bd{
	margin-left: 42px;
}
.details-size .bd h3{
	margin-bottom: 10px;
	font-size: 14px;
	color: #666;
}
.details-size .bd ul{
	margin-bottom: 10px;
}
.details-size .bd li{
	line-height: 2;
	font-size: 14px;
	color: #666;
}
.details-size .bd li.starlast{
	color: #333;
}
.details-size .bd .i-star{
	vertical-align: middle;
	margin-right: 8px;
}
.details-size .bd th{
	font-size: 14px;
	background: #E7E7E7;
	border-right: 1px solid #dcdcdc;
}
.details-size .bd .warm td{
	font-size: 14px;
	text-align: left;
}
.details-size .bd .warm em{
	display: inline-block;
	color: #D71A5C;
}
/*goodsRecommend*/
.goodsRecommend{
	background: #fff;
	border: 1px solid #dcdcdc;
}
.goodsRecommend .rec-hd{
	border-width:0 0 1px 0px; 
}
.hotlists {
	margin-bottom: 26px;
}
.hotlists>.hd,
.aside-goodsList>.hd {
	padding: 9px 0;
}
.hotlists>.hd h2,
.aside-goodsList>.hd h2 {
	height: 20px;
	margin: 0 6px;
	padding: 0 8px;
	border-left: 4px solid #e85648;
	font: 18px/20px 'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1','Hiragino Sans GB';
}
.hotlists.full-width .store-hotSales {
	margin-left: 30px;
	padding: 5px;
}
.hotlists.full-width .store-hotSales>li {
	margin: 7px 12px 0;
}
/* Store hotSales
 ---------------------------------------- */

.store-hotSales {
	padding: 5px 8px;
	*zoom: 1;
}
.store-hotSales:after {
	display: table;
	clear: both;
	content: " ";
}
.store-hotSales>li {
	float: left;
	width: 160px;
	margin: 7px 7px 0;
}

.store-hotSales .mod-goods .price .now {
	font-size: 13px;
}
.store-hotSales .mod-goods .price ins {
	font-size: 14px;
}
.store-hotSales .mod-goods .g-img>a {
	width: 160px;
	height: 160px;
	line-height: 158px;
}