/*close button*/
.im-close{
	position:absolute;
	top:5px;
	right:5px;
	z-index:100;
	display:block;
	width:16px;
	height:16px;
	background-color:#fff;
	background-position:0 -48px;
	cursor:pointer;
}
/* im */
#im{
	width:100%;
	height:100%;
	background:#fff;
	color:#535353;
}
#im .wrapper{
	width:100%;
	height:100%;
	min-width:0;
}
#im #bd{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	min-width:538px;
	border:1px solid #D2D2D2;
	*zoom:1;
}
#im .sidebar{
	position:absolute;
	top:0;
	left:0;
	width:208px;
	height:100%;
	min-height:450px;
}
#im .main{
	position:absolute;
	top:0;
	right:0;
	left:208px;
	height:100%;
	min-height:450px;
}
.im-logo{
	overflow:hidden;
	display:block;
	height:64px;
	background:#F0F0F0;
	border-right:1px solid #D2D2D2;
	text-align:center;
}
.im-logo img{
	width:160px;
	height:50px;
	margin-top:7px;
}
.im-dialogist{
	height:64px;
	background:url(../img/im_caption02.png) repeat-x 0 0;
}
.im-dialogist dl{
	padding-top:9px;
}
.im-dialogist dt{
	float:left;
	width:66px;
	margin-right:10px;
	text-align:right;
}
.im-dialogist dd{
	float:left;
	color:#919191;
	font-weight:normal;
	font-size:12px;
	vertical-align:baseline;
	white-space:nowrap;
}
.im-dialogist .name{
	color:#505050;
	font-size:16px;
	line-height:26px;
}
.im-dialogist dd p{
	line-height:18px;
}
.im-dialogist .picture{
	overflow:hidden;
	display:inline-block;
	width:46px;
	height:46px;
	margin:0 0 -10px 6px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;	
}
.im-dialogist .picture img{
	width:46px;
	height:46px;
}
.im-message{
	position:absolute;
	top:64px;
	right:0;
	bottom:0;
	left:0;
	border-top:1px solid #D2D2D2;
}
#im .mod-megShow{
	bottom:136px;
}
#im .mod-megEdit{
	height:136px;
}
#im .mod-megEdit .editArea .editable{
	*height:62px;
}
