/**
 * style popup
 *
 * @project
 * @copyright
 * @author      zhanghaibin
 * @version 	1.0
 *
 */

/**
 * CSS Menu
 *
 * Popup
 * Theme
 * 
 * Layout
 */

/* Popup
 ---------------------------------------- */

.popup {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 990;
	background: #fff;
	border: 1px solid #d2d2d2;
	-webkit-box-shadow:2px 2px 4px #333;
	-moz-box-shadow:2px 2px 4px #333;
	box-shadow:2px 2px 4px #333;
}
.popup .close {
	position: absolute;
	top: 6px;
	right: 6px;
	display: block;
	width: 16px;
	height: 16px;
	background-position: 0 0;
	cursor: pointer;
}
.popup .close:hover {
	background-position: -16px 0;
}
.popup .hd {
	height: 30px;
	padding: 0 30px 0 8px;
	background: #eee;
	line-height: 30px;
	cursor: default ;
}
.popup .hd h2 {
	font-size: 14px;
}
.popup .bd {
	*zoom: 1;
}
.popup .bd:after {
	display: table;
	clear: both;
	content: " ";
}
.popup .btnWrap {
	padding: 10px 0 0;
}
.popup .btnWrap .btn {
	margin-right: 20px;
}


/* Theme
 ---------------------------------------- */

.popup-primary .hd{
	margin: -1px -1px 0;
	background: #9050c7;
	color: #fff;
}
.popup-primary .close,
.popup-primary .close:hover {
	background-position: -32px 0;
}
.popup-primary .close:hover {
	background-color: #8146b5;
}
/**/
.popup-primary .popup-doc {
	padding: 30px;
}
.popup-primary .popup-doc dt {
	float: left;
	width: 70px;
	text-align: right;
}
.popup-primary .popup-doc dd {
	margin-left: 100px;
}
.popup-primary .popup-doc h3 {
	margin-bottom: 15px;
	font-size: 18px;
}
.popup-primary .popup-doc p {
	margin-bottom: 8px;
}

.popup-info .hd {
	background: none;
}

/* Layout
 ---------------------------------------- */

.popup-category .formGroup {
	border-bottom: 1px dashed #666;
}
.popup-specialProduct .table {
	margin: 0;
	border: 0;
	width: 883px;
}
.popup-specialProduct .table-wrap {
	overflow-y: scroll;
	height: 276px;
	*height: 308px;
}
.popup-specialProduct .table-wrap .table {
}
.popup-specialProduct .btnWrap {
	padding: 8px 10px;
	*padding: 8px 15px;
	background: #eee;
	border-top: 1px solid #e5e5e5;
}
.popup-specialProduct .btnWrap .chk {
	margin-right: 20px;
}
.popup-deliver .form {
	padding: 10px 0 0 25px;
}
.popup-deliver .form-item {
	margin-bottom: 25px;
}
