/**
 * style special
 * 
 * @project		
 * @copyright	
 * @author		zhanghaibin
 * @version 	1.0
 * 
 * @colordef 	#333 				article text
 * @colordef	#316cd6				link & visible
 * @colordef	#ff5c00				hover & active
 */

/**
 * CSS Menu
 * 
 * SpecialGlobal
 * 
 * SpecialForm
 * 
 * Layout
 * 
 */


/* Special Global
 ---------------------------------------- */

.wrap-special .section {
	background: #fff;
	border: 1px solid #e5e5e5;
}

/* Special Form
 ---------------------------------------- */

.wrap-special .mod-tips {
	margin: 10px 15px 0;
	padding: 5px 20px;
}
.wrap-special .mod-tips dd {
	padding-top: 5px;
	line-height: 20px;
}
.form-special fieldset {
	margin: 30px 0;
	padding: 0 30px;
}
.form-special .legend {
	margin-bottom: 20px;
}
.form-special .legend a {
	margin-left: 10px;
	font-size: 12px;
	font-weight: normal;
}
.form-special .form-item {
	margin: 0 0 20px;
}
.form-special .item-label {
	width: 160px;
	line-height: 32px;
}
.form-special .item-cont {
	margin-left: 170px;
	line-height: 32px;
}
.form-special .legend h3 {
	padding: 0 10px;
	font: 700 18px/24px 'Helvetica Neue', Helvetica, 'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1','Hiragino Sans GB';
}
.form-special .item-preview {
	border: 1px solid #e5e5e5;
	min-height: 90px;
	margin-top: 10px;
}
.form-special .item-preview img {
	width: 100%;
	vertical-align: bottom;
}
.form-special .item-address .item-cont label {
	display: block;
}
.form-special .item-address .item-cont span {
	margin: 0 0 0 20px;
}
.form-special .item-express .item-cont {
	width: 650px;
	margin-right: -170px;
}
.form-special .item-express .item-cont label {
	width: 100px;
	display: inline-block;
}
.form-special .add-btn {
	margin-right: 10px;
}

/* Layout
 ---------------------------------------- */

.mc-newSpecial h2 {
	margin: 10px 0 0;
}

.mc-newSpecial .mod-step {
	float: right;
	margin: 3px 0;
}
.mc-newSpecial .mod-step p {
	line-height: 16px;
}
