body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:700px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:700px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1360px;
  top:0px;
  width:6px;
  height:700px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:700px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:170px;
  top:0px;
  width:1000px;
  height:700px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:700px;
}
#u4 {
  position:absolute;
  left:2px;
  top:342px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:26px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:26px;
}
#u6 {
  position:absolute;
  left:2px;
  top:5px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:24px;
  width:1350px;
  height:80px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:80px;
}
#u8 {
  position:absolute;
  left:2px;
  top:32px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:200px;
  top:5px;
  width:72px;
  height:15px;
  color:#0000FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:170px;
  top:3px;
  width:20px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:282px;
  top:5px;
  width:43px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1107px;
  top:5px;
  width:53px;
  height:13px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:1080px;
  top:1px;
  width:24px;
  height:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:987px;
  top:5px;
  width:53px;
  height:15px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:880px;
  top:5px;
  width:53px;
  height:13px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:966px;
  top:6px;
  width:16px;
  height:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:858px;
  top:5px;
  width:16px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1043px;
  top:10px;
  width:7px;
  height:7px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:170px;
  top:33px;
  width:155px;
  height:57px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:57px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:151px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:190px;
  top:130px;
  width:97px;
  height:25px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:903px;
  top:53px;
  width:257px;
  height:33px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1100px;
  top:118px;
  width:30px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:980px;
  top:118px;
  width:30px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:860px;
  top:118px;
  width:30px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:740px;
  top:118px;
  width:30px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:790px;
  top:118px;
  width:60px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:910px;
  top:118px;
  width:60px;
  height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1030px;
  top:118px;
  width:60px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:735px;
  top:154px;
  width:40px;
  height:13px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:848px;
  top:154px;
  width:53px;
  height:13px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:968px;
  top:154px;
  width:53px;
  height:13px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:1102px;
  top:154px;
  width:27px;
  height:13px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:170px;
  top:180px;
  width:996px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:979px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:996px;
  height:1px;
}
#u58 {
  position:absolute;
  left:170px;
  top:610px;
  width:1000px;
  height:90px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:90px;
}
#u59 {
  position:absolute;
  left:2px;
  top:37px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:170px;
  top:638px;
  width:554px;
  height:15px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:170px;
  top:664px;
  width:788px;
  height:15px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:180px;
  top:200px;
  width:980px;
  height:200px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:200px;
}
#u65 {
  position:absolute;
  left:2px;
  top:92px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:384px;
  top:238px;
  width:72px;
  height:72px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u67 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:500px;
  top:260px;
  width:457px;
  height:25px;
  font-size:24px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:25px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:500px;
  top:324px;
  width:82px;
  height:13px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:13px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:662px;
  top:324px;
  width:88px;
  height:14px;
  font-size:14px;
  color:#0000FF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:568px;
  top:324px;
  width:63px;
  height:14px;
  font-size:14px;
  color:#0000FF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:776px;
  top:324px;
  width:88px;
  height:14px;
  font-size:14px;
  color:#0000FF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
